@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Source Sans Pro"; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1% 0 1% 2%; }
  .first .logo {
    margin-right: 9.3%;
    font-size: 24px;
    padding-top: 10px;
    font-weight: 400;
    text-transform: uppercase; }
    .first .logo #lo {
      color: #da2346; }
    .first .logo #go {
      color: white; }
  .first .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 64%;
    font-size: 20px;
    font-weight: 400;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .first .menu .menu-item {
      text-transform: capitalize; }
      .first .menu .menu-item a {
        color: white;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
      .first .menu .menu-item a:hover {
        color: #097e89; }
  .first .social-header {
    margin: 0 auto; }
    .first .social-header .social-items {
      border: 1px solid rgba(255, 255, 255, 0.3);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      float: right;
      margin-left: 8px; }

header {
  background: url(../img/bg-header.png) no-repeat center/cover;
  width: 100%;
  height: 100vh; }
  header hr {
    border: 1px solid rgba(255, 255, 255, 0.3); }
  header .black {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4); }
  header .second {
    color: #f7f7f7;
    width: 54%;
    height: 350px;
    margin: 11% auto 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 0; }
    header .second .second-text {
      text-align: center;
      font-weight: 400;
      padding: 0 10px; }
    header .second .best {
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 8% auto 28px; }
    header .second .third {
      display: block;
      padding: 13px 33px;
      font-size: 14px;
      font-weight: 400;
      border: 2px solid #f7f7f7;
      text-transform: uppercase;
      margin: 117px auto 0;
      color: #f7f7f7;
      background-color: transparent; }

.under-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .under-header .under-item {
    width: 50%; }
    .under-header .under-item img {
      width: 100%;
      display: block;
      margin: 0 auto; }
  .under-header .little-about {
    padding: 53px 44px; }
    .under-header .little-about h2 {
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase; }
  .under-header .read-more {
    border-radius: 2px;
    border: 0;
    color: #f7f7f7;
    padding: 10px 26px;
    background-color: #05a0af;
    text-transform: uppercase;
    margin-top: 42px; }

.name-item-site {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #373737;
  padding: 53px 44px;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  color: #f7f7f7;
  text-transform: uppercase; }
  .name-item-site .services {
    width: 15%; }

/*           Лінії                */
.black-line {
  position: relative;
  padding: 12px 0 30px; }
  .black-line hr {
    background-color: black;
    position: absolute;
    border: 1px solid black; }
  .black-line .bold-line {
    width: 15%;
    margin-top: -2px;
    border-width: 3px; }
  .black-line .hairline {
    width: 85%;
    left: 15%; }

.white-line {
  position: relative;
  width: 40%; }
  .white-line hr {
    background-color: #f7f7f7;
    position: absolute;
    border: 1px solid #f7f7f7; }
  .white-line .bold-line {
    width: 15%;
    margin-top: -2px;
    border-width: 3px; }
  .white-line .hairline {
    width: 85%; }

.left-line .bold-line {
  right: 0; }

.right-line .hairline {
  right: 0; }

.white-item {
  background: #ffffff; }
  .white-item .services {
    color: #656464; }
  .white-item hr {
    background-color: #656464;
    border-color: #656464; }

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3d3d3d; }
  .service .web-development {
    width: 33.3%;
    text-align: center;
    color: #f7f7f7;
    padding: 140px 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .service .web-development p {
      font-size: 14px;
      font-weight: 400;
      padding: 30px 0; }
    .service .web-development h2 {
      font-size: 24px;
      font-weight: 700; }
    .service .web-development img {
      display: block;
      margin: 0 auto 60px; }
    .service .web-development button {
      display: block;
      border-radius: 2px;
      border: 0;
      color: #f7f7f7;
      font-size: 12px;
      font-weight: 400;
      padding: 10px 26px;
      background-color: #959595;
      text-transform: uppercase;
      margin: 0 auto; }
  .service .web-development:hover {
    background: #097e89; }

.info-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #3d3d3d; }
  .info-people .info {
    width: 40%; }
    .info-people .info .info-text {
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      color: #b1aeae;
      width: 300px;
      margin: 80px auto 0; }
    .info-people .info .info-hr {
      width: 100px;
      margin: 30px auto 0;
      border: 2px solid #b1aeae;
      background: #b1aeae; }
    .info-people .info .page {
      font-size: 24px;
      font-weight: 400;
      margin: 30px auto 0;
      color: #b1aeae;
      width: 50px; }
  .info-people .people {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 32px 21px; }
    .info-people .people .man {
      width: 30%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 250px;
      height: 271px;
      padding: 210px 10px 10px; }
      .info-people .people .man .name-pos {
        padding: 5px;
        width: 90%; }
      .info-people .people .man .number {
        padding: 15px 17px;
        vertical-align: middle;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin-right: 10px; }
      .info-people .people .man > * {
        background-color: #f7f7f7;
        height: 50px; }
    .info-people .people .man-1 {
      background: url(../img/Model-1.png);
      background-size: cover; }
    .info-people .people .man-2 {
      background: url(../img/Model-2.png);
      background-size: cover; }
    .info-people .people .man-3 {
      background: url(../img/Model-3.png);
      background-size: cover; }

.clients {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 30px 70px;
  -ms-flex-line-pack: distribute;
      align-content: space-around; }
  .clients .client {
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%; }
    .clients .client img {
      display: block;
      margin: 0 auto; }

.any-queries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #097e89;
  color: #f7f7f7; }
  .any-queries > * {
    padding: 0 58px; }
  .any-queries .any-queries-1 {
    width: 40%; }
    .any-queries .any-queries-1 h2 {
      font-size: 30px;
      font-weight: 400;
      padding: 27px 0; }
    .any-queries .any-queries-1 p {
      font-weight: 400;
      padding-bottom: 59px; }
  .any-queries .any-queries-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%; }
    .any-queries .any-queries-2 .call {
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 2px;
      display: inline-block; }
      .any-queries .any-queries-2 .call > * {
        border-radius: 0;
        border: 0; }
      .any-queries .any-queries-2 .call :first-child {
        border-right: 1px solid rgba(255, 255, 255, 0.5); }
      .any-queries .any-queries-2 .call input[type="text"] {
        padding: 18px 0 18px 23px;
        background-color: #097e89;
        color: #f7f7f7;
        font-weight: 400; }
      .any-queries .any-queries-2 .call input[type="submit"] {
        padding: 18px 33px;
        background-color: #f7f7f7;
        color: #097e89; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #474747; }
  footer .product-learn-company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    color: #f7f7f7;
    padding: 31px 41px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    footer .product-learn-company h4 {
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase; }
    footer .product-learn-company p {
      font-weight: 400;
      margin-top: 17px; }
    footer .product-learn-company hr {
      background-color: #f7f7f7;
      border: 1px solid #f7f7f7;
      width: 30px; }
  footer .you-email {
    width: 60%;
    padding: 42px 10% 0 0; }
    footer .you-email .call {
      border: 1px solid #cccccc;
      border-radius: 2px;
      display: inline-block;
      float: right; }
      footer .you-email .call > * {
        border: 0; }
      footer .you-email .call input[type="text"] {
        padding: 15px 0 15px 15px;
        background-color: #cccccc;
        color: #5a5959;
        font-weight: 400; }
      footer .you-email .call input[type="submit"] {
        padding: 15px 25px;
        background-color: #0072bc;
        color: #f7f7f7; }
    footer .you-email .social {
      clear: both;
      padding-top: 41px; }
      footer .you-email .social .social-items {
        background-color: #2e2e2e;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        float: right;
        margin-left: 8px; }
